span {
  border: red;
}

.categories {
  display: inline-block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

h1 {
  color: black;

  text-decoration: underline black;
}
button {
  font-family: "Dancing Script", cursive;
}
